@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --modal-background-color: 245,245,220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: rgb(246, 248, 250)
}


h-2 {
  height: 0.2rem;
}

w-2 {
  width: 0.2rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  width: 100%;
}


.balance {
  height: 400px;
  width: 100%;
}

.balance .card {
  height: 100%;
  width: 100%;
  color: rgb(181, 191, 199);
  font-weight: bold;
}

.account {
  height: 500px;
  width: 100%;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-background {
  background-color: rgb(var(--modal-background-color));
}